.container
  .row
    .col-md-8
      %h2
        =t('.header')
        %span.small
          ="#{@account.name}"
    .col-md-4
      .span.pull-right.delete
        =link_to t('shared.delete'), @account, method: :delete, data: { confirm: t('shared.shure') }
  %hr
  = render 'form'